############################  WHOISCLICKING ##################################
.env
.vscode




############################  JENKINS ##################################
jenkins/certs/*
jenkins/data/*
jenkins/secret.key
jenkins/users/*

