############################  WHOISCLICKING ##################################
/.env
.vscode




############################  JENKINS ##################################
/jenkins/certs/*
/jenkins/data/*


